.bd-sidebar {
    background-color: #fff;
}

.bd-content {
    background-color: #fff;
}

.bd-toc-link {
    font-size: 0.8rem;
}

pre {
    margin-bottom: 1.2em;
    /* padding: 0.8em; */
    border-radius: 0px 5px 5px 5px;
    border: 1px solid #ddd;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.filename {
    padding: 2px 30px;
    background-color: rgb(198, 217, 223);
    border-radius: 5px 5px 0px 0px;
    user-select: none;
}

td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: left;
    color: #ccc;
    border-right: 1px solid #ccc;
    vertical-align: top;
    padding-right: 5px !important;
}

/* for block of code */
td.hljs-ln-line {
    padding-left: 10px !important;
}

main>h1,
h2,
h3 {
    font-weight: 700;
    margin: 1.3rem 0;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #ddd;
}

main>h4,
h5 {
    font-weight: 600;
    margin: 1.3rem 0;
}